.footer {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 1rem;
  background: linear-gradient(to bottom, white, rgb(38, 243, 175));
}

#footer-title {
  font-family: "Fredoka", "Bricolage Grotesque", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 4.5px;
  opacity: 0.85;
  padding: 0.5rem;
  color: #2e2c4b;
}

.footer-text {
  width: 75%;
  text-align: center;
  color: rgb(41, 41, 41);
  font-size: 1rem;
  line-height: 1.55rem;
}

@media (max-width: 992px) {
  .footer-text {
    width: 85%;
  }

  .footer-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .footer-text {
    width: 94%;
  }

  .footer-text {
    font-size: 0.825rem;
  }
}
