#galaxy-container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.loading {
  font-size: 1.18rem;
  font-weight: 600;
  opacity: 0.9;
  text-align: center;
  margin-right: 0.9rem;
  z-index: 2;
}

.error {
  max-width: 80%;
  z-index: 2;
  background: linear-gradient(to right, #161032, black);
  color: #81adff;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  opacity: 0.8;
  padding: 1.15rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1.1rem;
}

.time-display-section {
  position: fixed;
  bottom: 50vh;
  left: 0;
  padding: 1rem;
  z-index: 2;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: rgb(2, 116, 97);
  animation: fadeIn 2s ease-in-out forwards;
}

.start-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.1rem !important;
  letter-spacing: 1.5px !important;
  text-align: center;
  width: auto;
  height: 5rem;
  font-family: "Comfortaa", sans-serif !important;
  font-weight: 600 !important;
  z-index: 1;
}

.start-section-text {
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#start-btn-galaxy {
  background-color: #009fb7;
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
  text-transform: none;
  margin: auto;
  padding: 0.75rem !important;
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
  border-radius: 1.15rem !important;
  font-family: "Fredoka", "Bricolage Grotesque", sans-serif;
  z-index: 1;
  transition: 0.25s ease-in-out;
  animation: fadeIn 1.5s ease-in-out forwards;
}

#start-btn-galaxy:hover {
  background-color: #e06d06;
  transform: scale(1.06);
}

#start-btn-galaxy:active {
  transform: translateY(1rem);
}

@media (max-width: 720px) {
  .start-section {
    font-size: 1.04rem !important;
  }

  .time-display-section * {
    font-size: 0.9rem !important;
  }

  .time-display-section {
    font-size: 0.9rem !important;
    padding: 0.9rem;
  }
}
