.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.header-title {
  position: relative;
  font-family: "Fredoka", "Bricolage Grotesque", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 4px;
  opacity: 0.85;
  z-index: 1;
  padding: 0.75rem;
  cursor: pointer;
  color: #2e2c4b;
  transition: 0.25s ease-in-out;
}

#nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.nav-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-family: "Comfortaa", sans-serif !important;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: #161032;
  cursor: pointer;
  padding: 0.7rem;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  padding-top: 1.15rem;
  transition: 0.25s ease-in-out;
}

.nav-btn-galaxy {
  color: #b3c4e2;
}

.header-title-galaxy {
  color: #81adff !important;
}

.nav-btn:hover {
  color: #e06d06;
  transform: scale(1.04);
}

.nav-btn:active {
  transform: translateY(0.75rem);
}

.nav-btn:last-child::before {
  content: "";
  position: absolute;
  bottom: 5.5px;
  left: 25px;
  transform: translateX(-50% -50%);
  width: 0.6rem;
  height: 3.5px;
  background-color: #009fb7;
  opacity: 0;
  transition: opacity 0.25s ease;
  border-radius: 0.5rem;
}

.nav-btn:last-child:hover::before {
  opacity: 1;
}

.header-title::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 13px;
  transform: translateX(-50%, -50%);
  width: 1.5rem;
  height: 0.5rem;
  background-color: #ea9010;
  border-radius: 1rem;
}

@media (max-width: 576px) {
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    gap: 1rem;
  }
  .header-title {
    font-size: 1.85rem;
    letter-spacing: 3px;
  }

  .nav-btn {
    font-size: 0.8rem;
    padding: 0.3rem;
    padding-top: 0.6rem;
    padding-right: 0;
  }

  .home-btn {
    padding-right: 0.45rem;
  }
  .nav-btn:last-child::before {
    bottom: 0;
    left: 20.5px;
  }
}

@media (max-width: 400px) {
  .home-btn {
    display: none;
  }

  #nav-menu {
    gap: 0.5rem;
  }
}

@media (min-width: 300px) and (max-width: 326px) {
  .nav-btn {
    font-size: 0.74rem;
  }
}
