#intro-box-1 {
  background: linear-gradient(to bottom, rgb(181, 243, 222), white);
}

#intro-box-2 {
  background: linear-gradient(to bottom, white, rgb(181, 243, 222));
}

#btn-container-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-bottom: 2.25rem;
}

#btn-container-introduction Button {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 1rem;
  text-transform: none;
  color: #161032 !important;
  animation: fadeIn 2s ease-in-out forwards;
}

#btn-container-introduction Button:hover {
  background-color: white !important;
  color: #e06d06 !important;
}

.ready-btn-introduction {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  letter-spacing: 1.5px !important;
  padding: 0.55rem !important;
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
  border-radius: 1.15rem !important;
  transition: 0.25s ease-in-out !important;
  animation: fadeIn 4s ease-in-out forwards;
}

.ready-btn-introduction:last-child {
  background-color: #161032;
}

.ready-btn-introduction:last-child:hover {
  background-color: #e06d06;
  transform: scale(1.15);
}

.ready-btn-introduction:active {
  transform: translateY(1rem) !important;
}

#btn-container-introduction Button:last-child::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 5px;
  background-color: #009fb7;
  opacity: 0;
  transition: opacity 0.2s ease;
}

#btn-container-introduction Button:last-child:hover::before {
  opacity: 1;
}



@media (max-width: 576px) {
  #btn-container-introduction Button {
    font-size: 1.05rem;
  }

  .ready-btn-introduction {
    font-size: 1.55rem !important;
  }
}
