#intropanel {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin: auto;
  margin-bottom: 0.75rem;
}

.quote-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.25rem solid #3498db;
}

.quote-text {
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.75rem;
  text-align: justify;
  color: rgb(0, 133, 138);
  animation: typewriter 0.4s linear forwards;
}

#king-img {
  width: 50vw;
  max-width: 13rem;
  height: auto;
  margin-bottom: 0.5rem;
  mix-blend-mode: multiply;
  transition: transform 0.3s ease;
  animation: slideInFromLeft 2s ease-in-out, fadeIn 4.5s ease-in-out forwards;
}

#king-img:hover {
  transform: translateY(1.25rem);
}

#king-img:active {
  transform: translateX(1.8rem);
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #intropanel {
    gap: 0;
  }
}

@media (max-width: 576px) {
  #intropanel {
    flex-direction: column-reverse;
  }

  .quote-container {
    width: 92.5%;
    min-height: 11rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
  }

  .quote-text {
    font-size: 1rem;
  }
}

@media (max-width: 468px) {
  .quote-container {
    min-height: 13rem;
  }
}

@media (max-width: 390px) {
  .quote-container {
    min-height: 16rem;
  }
}

@media (max-width: 310px) {
  .quote-container {
    min-height: 18rem;
  }
}
