#planets-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  height: auto;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.planets {
  justify-content: center;
  align-items: center;
  animation: slideInFromLeft 1s ease-in-out;
}

.planet-img {
  width: 5rem !important;
  height: 5rem !important;
  box-shadow: 0 0 10rem 5rem black;
}

.planet-name {
  letter-spacing: 0.25rem !important;
  font-family: "Fredoka", "Bricolage Grotesque", sans-serif !important;
  font-weight: 800 !important;
  text-align: center !important;
  z-index: 1;
}

.planet-distance {
  font-size: 0.75rem !important;
  letter-spacing: 1px !important;
  font-family: "Comfortaa", sans-serif !important;
  font-weight: 600 !important;
  z-index: 1;
  text-align: center;
  color: #ea9010;
}

.planet-clicked {
  transform: scale(1.12);
}

.planet-unclicked {
  transform: scale(0.95);
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.planets:nth-child(1) {
  flex-basis: 40%;
}

.planets:nth-child(2) {
  flex-basis: 40%;
  z-index: 1;
}

.planets:nth-child(3) {
  flex-basis: 85%;
  z-index: 1;
}

.planets:nth-child(4) {
  flex-basis: 40%;
  z-index: 1;
}

.planets:nth-child(5) {
  flex-basis: 40%;
  z-index: 1;
}

.planets:nth-child(6) {
  flex-basis: 40%;
  z-index: 1;
}

.planet-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.d-none {
  display: none !important;
}

.planet-content:hover {
  transform: scale(1.04);
  z-index: 1;

  .planet-img {
    animation: spin 6s linear infinite;
  }
}

.planet-content:active {
  transform: translateY(1.5rem);
}

@media (max-width: 992px) {
  .planet-img {
    width: 4.5rem !important;
    height: 4.5rem !important;
  }
}

@media (max-width: 576px) {
  .planet-img {
    width: 4rem !important;
    height: 4rem !important;
  }

  .planet-name {
    font-size: 1.1rem !important;
  }

  .planet-distance {
    font-size: 0.65rem !important;
  }
}
