#planets-info-container {
  padding: 2rem;
  margin-top: 7.5rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#brand-planetsinfo {
  margin-bottom: -1.25rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  align-self: center;
  letter-spacing: 0.35rem;
  color: #2e2c4b;
}

.planets-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #061826;
}

.media-planetsinfo {
  justify-content: center;
  align-items: center;
  flex-basis: 10rem;
  cursor: none;
  transition: 0.25s ease-in-out;
}

.img-planetsinfo {
  width: 5rem !important;
  height: auto !important;
}

.planet-name-planetsinfo {
  font-family: "Bricolage Grotesque", sans-serif !important ;
  letter-spacing: 2px !important;
}

.description-planetsinfo {
  flex-basis: 70%;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  text-align: justify;
}

.media-planetsinfo:hover {
  .img-planetsinfo {
    animation: spin 6s linear infinite;
  }
}

.media-planetsinfo:hover {
  transform: scale(1.15);
}



@media (max-width: 576px) {
  #planets-info-container {
    margin-top: 9rem;
  }

  #brand-planetsinfo {
    font-size: 2.75rem;
  }

  .img-planetsinfo {
    width: 6rem !important;
  }

  .description-planetsinfo {
    font-size: 1.15rem !important;
  }
}
