#vehicles-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

#brand-vehiclesinfo {
  align-self: center;
  color: #2e2c4b;
  font-family: "Fredoka", "Bricolage Grotesque", sans-serif;
  font-size: 2.15rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  margin-bottom: -2rem;
}

.vehicles-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  color: #061826;
}

.media-vehiclesinfo {
  width: 10rem;
  justify-content: center;
  align-items: center;
  cursor: none;
  transition: 0.25s ease-in-out;
}

.img-vehiclesinfo {
  width: 4rem !important;
  height: auto !important;
}

.vehicle-name-vehiclesinfo {
  font-family: "Fredoka", "Bricolage Grotesque", sans-serif !important;
  font-size: 1.15rem !important;
  letter-spacing: 1px !important;
  opacity: 0.85;
  text-align: center;
}

.description-vehiclesinfo {
  font-family: "Comfortaa", sans-serif !important;
  font-size: 1.05rem !important;
  flex-basis: 65%;
  text-align: justify;
  opacity: 0.9;
}

.media-vehiclesinfo:hover {
  transform: scale(1.1);

  .img-vehiclesinfo {
    animation: spinRight 4s linear infinite;
  }
}

@media (min-width: 576px) {
  #vehicles-info-container {
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  #vehicles-info-container {
    gap: 6rem;
    padding: 0.1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #brand-vehiclesinfo {
    padding-left: 1rem;
    align-self: self-start;
  }

  .vehicles-info {
    flex-direction: column;
  }

  .media-vehiclesinfo {
    width: auto;
  }

  .description-vehiclesinfo {
    width: 88%;
    font-size: 1rem !important;
  }
}

@media (min-width: 300px) {
  .img-vehiclesinfo {
    animation: spinRight 7s linear infinite;
  }
}
